---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik
      chart: traefik
      version: 39.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
      interval: 5m
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
  values:
    deployment:
      kind: Deployment
      replicas: 2
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: node-role.kubernetes.io/master
              operator: NotIn
              values:
              - "true"
    service:
      enabled: true
      type: LoadBalancer
      spec:
        loadBalancerIP: "${SVC_TRAEFIK_ADDR}"
        externalTrafficPolicy: Local
    logs:
      general:
        level: ERROR
      access:
        enabled: true
    ingressClass:
      enabled: true
      isDefaultClass: true
    ingressRoute:
      dashboard:
        enabled: false
    additionalArguments:
      - "--entrypoints.web.http.middlewares=networking-bouncer@kubernetescrd"
      - "--entrypoints.websecure.http.middlewares=networking-redirectscheme@kubernetescrd, networking-bouncer@kubernetescrd"
      - "--entryPoints.lan.address=:8085"
      - "--api.insecure=true"
      - "--serverstransport.insecureskipverify=true"
      - "--providers.kubernetesingress.ingressendpoint.ip=${SVC_TRAEFIK_ADDR}"
    providers:
      kubernetesCRD:
        enabled: true
        allowExternalNameServices: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
        ingressClass: traefik
    volumes:
      - name: crowdsec-bouncer-tls
        mountPath: /etc/traefik/crowdsec-certs/
        type: secret
    ports:
      traefik:
        expose:
          default: true
      web:
        expose:
          default: true
        exposedPort: 80
        protocol: TCP
      websecure:
        expose:
          default: true
        http:
          tls:
            enabled: true
            options: "default"
      lan:
        port: 8085
        expose:
          default: true
        exposedPort: 8085
        protocol: TCP
      metrics:
        port: 8082
        expose:
          default: true
        exposedPort: 8082
    tlsOptions:
      default:
        minVersion: VersionTLS12
        maxVersion: VersionTLS13
        sniStrict: true
    experimental:
      plugins:
        bouncer:
          moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
          version: v1.3.0
    resources:
      requests:
        memory: 100Mi
        cpu: 250m
      limits:
        memory: 500Mi
        cpu: 800m
