apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release.yaml
  - tls-store
  - plugins/crowdsec-bouncer.yaml
  - monitoring/servicemonitor.yaml
  - https-redirect.yaml
  - lan-only-middleware.yaml
